/* ******************** */
/* body of the website */
/* ******************* */
body {
  background-color: black;
  text-align: center;
}

/* ************************************ */
/* aligns pic of card on top correctly */
/* ********************************** */
.card-img-top {
  height: 16rem;
  display: inline-flex;
}

/* ****************************** */
/* each individual card layout */
/* ****************************** */
.card {
  max-width: 350px;
  display: inline-flex;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}